<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Waste Sorting System</title>
    {% include 'header_links.html' %}
</head>
<body style="background-color: #f1f8fe">
    {% include 'nav.html' %}
    <div class="container">
        <div class="row g-4 mt-3">
            <!-- Sidebar Menu -->
            <div class="col-12 col-md-4 h-100">
                <div class="position-fixed" style="width: 100%; max-width: 350px;"> <!-- Adjust max-width as desired -->
                    <div class="p-3 rounded-4" style="width: 100%;">
                        <h3 class="fw-bolder">Menu</h3>
                        <button id="waste_lvl" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">Waste Level<i class="bi bi-lightning-charge"></i></button>
                        <button id="object_det" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">Object Detect<i class="bi bi-webcam"></i></button>
                        <h3 class="fw-bolder mt-3">Data Collected</h3>
                        <button id="ai_cam" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">AI Camera<i class="bi bi-camera"></i></button>
                        <button id="plastic" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">Plastic Bin<i class="bi bi-virus2"></i></button>
                        <button id="paper" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">Paper Bin<i class="bi bi-paperclip"></i></button>
                        <button id="metal" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">Metal Bin<i class="bi bi-align-bottom"></i></button>
                        <button id="waste" class="d-flex justify-content-between align-items-center btn rounded-4 w-100 text-start text-muted mb-3 btn-lg" style="background-color: white; font-size: 20px; height: 4rem;">Waste Bin<i class="bi bi-trash2"></i></button>
                    </div>
                </div>
            </div>
        
            <!-- Main Content -->
            <div class="col-12 col-md-8 h-100">
                <!-- Waste Level Monitoring Section -->
                <div id="wasteLevelContent" class="rounded-4 p-5" style="background-color: #fefffe;">
                    <h2 class="fw-bolder">Waste Level Monitoring</h2>
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <div class="d-flex flex-row justify-content-between">
                                <p>Paper</p>
                                <h3 id="trash1" class="text-end">0%</h3>
                            </div>
                            <div id="trashbin1"></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex flex-row justify-content-between">
                                <p>Waste</p>
                                <h3 id="trash2" class="text-end">0%</h3>
                            </div>
                            <div id="trashbin2"></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex flex-row justify-content-between">
                                <p>Plastic</p>
                                <h3 id="trash3" class="text-end">0%</h3>
                            </div>
                            <div id="trashbin3"></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex flex-row justify-content-between">
                                <p>Metal</p>
                                <h3 id="trash4" class="text-end">0%</h3>
                            </div>
                            <div id="trashbin4"></div>
                        </div>
                    </div>
                    <!-- <div>
                        <h3>Microcontroller Connection Status</h3>
                        <div id="status1">Microcontroller 1: <span class="connection">Not connected</span></div>
                        <div id="data1">Data: N/A</div>
                        <div id="status2">Microcontroller 2: <span class="connection">Not connected</span></div>
                        <div id="data2">Data: N/A</div>
                        <div id="status3">Microcontroller 3: <span class="connection">Not connected</span></div>
                        <div id="data3">Data: N/A</div>
                        <div id="status4">Microcontroller 4: <span class="connection">Not connected</span></div>
                        <div id="data4">Data: N/A</div>

                    </div> -->
                </div>
        
                <!-- Additional Sections -->
                <div id="objectDetectContent" class="rounded-4 p-5 camera-div" style="background-color: #fefffe; display: none; height: 750px">
                    <h2 class="fw-bolder">Scanned Trash Material</h2>
                    <div class="rounded-4 mb-4 p-3 pt-4 align-items-center d-flex justify-content-center border">
                        <p id="itemScan">Scanning</p>
                    </div>
                    <video class="rounded-4" id="webcam" autoplay style="display: none;"></video>
                    <canvas id="canvas" style="display: none;"></canvas>
                    <div id="noCameraMessage" style="display: none; text-align: center; font-size: 20px; color: red; padding-top: 25%">
                        <i class="bi bi-camera-video-off" style="font-size: 80px;"></i>
                        <p>No camera devices connected</p>
                    </div>
                    
                    <!-- <h2 style="margin-top: 20px">Scanned Logs</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Trash Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>November 27, 2024</td>
                                <td>Plastic</td>
                            </tr>
                        </tbody>
                    </table> -->
                    
                </div>
                

                <!-- <div class="rounded-4 p-5 mt-4" style="background-color: #fefffe;">
                    <h2 class="fw-bolder">AI Camera</h2>
                </div>
                <div class="rounded-4 p-5 mt-4" style="background-color: #fefffe;">
                    <h2 class="fw-bolder">Plastic Bin</h2>
                </div>
                <div class="rounded-4 p-5 mt-4" style="background-color: #fefffe;">
                    <h2 class="fw-bolder">Paper Bin</h2>
                </div>
                <div class="rounded-4 p-5 mt-4" style="background-color: #fefffe;">
                    <h2 class="fw-bolder">Metal Bin</h2>
                </div>
                <div class="rounded-4 p-5 mt-4" style="background-color: #fefffe;">
                    <h2 class="fw-bolder">Waste Bin</h2> -->
                </div>
            </div>
        </div>
        
        
    </div>
    {% include 'footer_links.html' %}
</body>
</html>