<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Waste Sorting System</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 justify-content-center col-md-8 shadow rounded-4 border p-5">
                <div>
                    <h2 class="fw-bolder">Welcome Smart Waste Sorting System</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-6">
                        <p>Trashbin 1</p>
                        <div id="trashbin1"></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Trashbin 2</p>
                        <div id="trashbin2"></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Trashbin 3</p>
                        <div id="trashbin3"></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Trashbin 4</p>
                        <div id="trashbin4"></div>
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-md-6"></div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>